<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:s="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<s:http auto-config="true">
		<s:intercept-url pattern="/" access="permitAll"/>
		<s:intercept-url pattern="/home" access="permitAll"/>
		<s:intercept-url pattern="/admin**" access="hasRole('ADMIN')"/>
		<s:intercept-url pattern="/db**" access="hasRole('ADMIN') and hasRole('DBA')"/>
		<!-- 自定义login配置 -->
		<s:form-login login-page="/login"  username-parameter="ssoId" password-parameter="password" authentication-failure-url="/Access_Denied" />
		<s:csrf/>
	</s:http>
	
	<s:authentication-manager>
		<s:authentication-provider>
			<s:user-service>
				<s:user name="bill" password="bill" authorities="ROLE_USER"/>
				<s:user name="admin" password="admin" authorities="ROLE_ADMIN"/>
				<s:user name="dba" password="dba" authorities="ROLE_ADMIN,ROLE_DBA"/>
			</s:user-service>
		</s:authentication-provider>
	</s:authentication-manager>

</beans>
